<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../css/login.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>

  <div>
    <center>
      <h3>TechGame</h3>
    </center>

    <form action="login" id="frmCadastro" method="POST">
      <input type="text" id="Nome" name="name" placeholder="Nome" required>
      <input type="text" id="Email" name="email" placeholder="Email" required>
      <input type="text" id="NomeUser" name="username" placeholder="Nome de usuário" required>
      <!-- <input type="password" class="text-field" id="password" name="password" placeholder="Senha" required>
      <input type="password"  class="text-field" id="password" name="password" placeholder="Confirme sua senha" required> -->
      <input type="submit" id="button" value="Salvar">
    </form>
  </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="/content/game/js/jquerytransateValidatorsToBR.js"></script>